<div class="row bootstrap snippets">
    <div class="bg-light box box-primary direct-chat direct-chat-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Centro de mensajes</h3>
        </div>
        <div class="box-footer">
            <form id="frmPasion">
                <input type="email" id="email" placeholder="Email" class="form-control mt-3" required />
                <input type="text" id="text" placeholder="Mensaje" class="form-control mt-3">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-lg btn-dark mt-3">Enviar</button>
                </div>
            </form>
        </div>
        <div class="box-body">
            <div class="direct-chat-messages">
                <div id="messages"></div> 
        </div>
    </div>
</div>