<div>
    <h1>PRODUCTOS</h1>
    <ul>
        {{#each data}}
            <li>{{this.name}} - ${{this.price}} </li>
        {{/each}}
        {{!-- <li>Producto 1</li>
        <li>Producto 2</li>
        <li>Producto 3</li>
        <li>Producto 4</li>
        <li>Producto 5</li> --}}
    </ul>

    <a href="/">Ir al home</a>
</div>