<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient p-4">
    <div class="container-fluid d-flex">
      <a class="navbar-brand fs-1 ms-lg-3" href="#">Ecommerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="me-3 navbar-nav ms-auto me-5 fs-3">
          <a class="me-3 nav-link active" aria-current="page" href="#">Home</a>
          <a class="me-3 nav-link" href="#">Nosotros</a>
          <a class="me-3 nav-link" href="#">Productos</a>
          <a class="me-3 nav-link" href="#">Servicios</a>
          <a class="me-3 nav-link" href="#">Contacto</a>
        </div>
      </div>
    </div>
  </nav>