<!-- <div id="NuevaTabla"></div> -->
<div class="table-responsive mt-3">
  <table class="table table-dark table-hover table-sm table-bordered">
    <caption class="fs-3">Stock de productos</caption>
    <thead>
      <tr class="text-center">
        <th class="fs-2 lead text-white">#</th>
        <th class="fs-2 lead text-white">Nombre</th>
        <th class="fs-2 lead text-white">Precio</th>
        <th class="fs-2 lead text-white">imagen</th>
      </tr>
    </thead>
    <tbody id="products">
      
    </tbody>
  </table>
</div>

<!-- <div class="entry">

    
</div> -->