@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root {
    background-color: #FFFFFF;
    color:#464646;
    /* font-family: 'Raleway', sans-serif; */
    line-height: 1rem;
    scroll-behavior: smooth;
    /*Variables de colores personalizados*/
    --colorGrisFuerte: #3c4146;
    --colorGrisClarito: #ccc;
    --colorGrisIntermedio: #a8a8a8;
    --colorMarronGris: #484848;
    --colorNaranjaClaro: #ffbe50;
    --colorNaranjaFogata: rgba(255, 146, 3, 0.8);
    --colorAzulFuerte: rgb(13, 5, 90);
    --colorAzulClarito: #37bcf9;
    --colorAzulPetroleo: #00538c;
    /*Variables de colores de Bootstrap*/
    --colorDark: #212529;
    --colorLight: #f8f9fa;
    --colorSuccess: #198754;
    --colorinfo: #0dcaf0;
    --colorWarning: #ffc107;
    --colorDanger: #dc3545;
    --colorPrimary: #0d6efd;
    --colorSecondary: #6c757d;
    /*variables para de trabajo para el Ecommerce*/
    --colorTitulo: #212529;
    --colorTexto: #464646;
    --colorTextoSecundario: #2A7AE4;
    --colorFondo: #f8f9fa;
    --colorFondoSecundario: #e9e9e9;
    --colorInputBorder: #d1d3d9;
    /* --colorFondoContacto:#EAF2FD;
    --formInputBorderBottom: rgb(191, 191, 191);
    --formButtonHover: #265ea6; */
    --fuenteUno: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuenteUno);
    font-weight: 600;
}
/* body{
    background-image: url("../views/img/");
    background-repeat: no-repeat;
    background-size: cover;

} */

h1 {
    font-size: 2.5rem;
    color: var(--colorTitulo);
    margin-bottom: 1rem;
}

#formProd {
    padding: 30px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 3px 3px 10px #464646;
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}



.box {
    position: relative;
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border: 3px solid #051924;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}
.box.box-primary {
    border-top-color: #051924;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header.with-border {
    border-bottom: 3px solid #051924;
}

.box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.direct-chat-messages {
    -webkit-transform: translate(0,  0);
    -ms-transform: translate(0,  0);
    -o-transform: translate(0,  0);
    transform: translate(0,  0);
    padding: 10px;
    height: 450px;
    overflow: auto;
}
.direct-chat-name {
    color: black;
    font-weight: 600;
}
.direct-chat-timestamp {
    color: #999;
}

.direct-chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #e9e9e9;
    border: 1px solid #d1d3d9;
    margin: 5px 0 0 5px;
    color: rgb(13, 46, 155);
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: none;
}

.col-8 {
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}